.checklist-container {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    width: 300px;
}

.checklist-title {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
}

.popup {
    background: #ffffff00;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

.popup-buttons button {
    padding: 6px 14px;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.655);
    font-weight: 500;
    cursor: pointer;
}

.popup-buttons .easy {
    background: #27ae60;
}

.popup-buttons .medium {
    background: #f39c12;
}

.popup-buttons .hard {
    background: #c0392b;
}

/* Tickable Box Styles */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input[type='checkbox'] {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: rgba(202, 184, 184, 0.201);
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.checkbox-container input:checked+.checkmark::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #27ae60;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.task-text {
    font-size: 0.95rem;
}

.task-text.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Difficulty Colors */
.task-text.easy {
    color: #27ae60;
}

.task-text.medium {
    color: #f39c12;
}

.task-text.hard {
    color: #c0392b;
}